@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body {
  font-family: "Space Mono", serif;
  font-style: normal;
  font-size: 1.6rem;
  background-color: #000000;
  color: #e9e9e9;
  height: 100vh;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__name {
  margin-top: 2rem;
  font-size: 16rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 4rem;
}
.section__desc {
  font-size: 2.5rem;
  font-weight: 700;
}

.section__link {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
